nav {
    user-select: none;
}

li {
    list-style: none;
    display: flex;
}

li > .menu-item-container {
    position: relative;
    width: 100%;
}

li > .menu-item-container > .menu-item-icon {
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

li > .menu-item-container .menu-item-text {
    display: none;
    align-items: center;
    position: absolute;
    right: 0;
    left: 48px;
    top: 0;
    bottom: 0;
}

nav.expanded {
    width: 128px;
}

nav.expanded li > .menu-item-container .menu-item-text {
    display: flex;
}

nav li .menu-item-icon:hover, nav li .menu-item-icon:hover .menu-item-text {
    color: #fedcbd;
    background-color: rgba(199, 200, 245, 0.2);
}