.number-picker {
    display: flex;
    align-items: center;
}

input {
    padding: 1px 2px 0;
    ime-mode: disabled;
    margin-right: 4px;
    width: 80px;
    text-align: right;
}

.select {
    display: inline-block;
}

.select select {
    padding-left: 2px;
}