._mx-number-picker {
    display: flex;
    align-items: center;
    line-height: 1em;
}

._mx-number-picker.standalone {
    padding: 2px;
    margin: 0 8px 0 8px;
}

._mx-number-picker input {
    padding: 1px 4px 0 2px;
    ime-mode: disabled;
    margin-right: 2px;
    width: 80px;
    text-align: right;
    height: 22px;
    flex: 1;
    border: 1px solid #ececea!important;
    background: #fff!important;
    cursor: copy;
}

._mx-number-picker input:focus {
    background: #fff!important;
}

._mx-number-picker .text {
    width: 80px;
    position: relative;
    height: 22px;
    color: black;
    line-height: 22px;
    text-transform: capitalize;
}

._mx-number-picker .text:focus {
    border: inherit;
}

._mx-number-picker .select {
    display: inline-block;
}

._mx-number-picker .select select {
    padding: 1px 2px 0 4px;
    height: 22px;
    border: 1px solid #ececea;
    background: #fff;
    cursor: default;
}

._mx-number-picker .select select:focus {
    background: #fff;
}

._mx-number-picker .select:after {
    top: .4em;
}