._mx-number-picker-group {
    display: flex;
    flex-direction: column;
    padding: 2px 2px 2px 5px;
    margin: 0 8px 0 8px;
}

._mx-number-picker-group .text {
    width: 80px;
    text-transform: capitalize;
}

._mx-number-picker-group .group {
    flex: 1;
}

._mx-number-picker-group .group .text {
    text-indent: 0.8em;
}

._mx-number-picker-group .group [mx-win-number-picker] {
    margin-top: 4px;
}