<div mx-win-split-pane #context class="layout-context">
    <div mx-win-primary-side [minWidth]="240" [maxWidth]="320" class="library-context">
        <div class="library-items" mx-win-scroller>
            <div class="library-items-container">
                <a [routerLink]="item.path" *ngFor="let item of resJson">
                    <div mx-win-layout-box [img]="item.thumb"></div>
                </a>
            </div>
        </div>
    </div>
    <div mx-win-secondary-side class="runtime-context">
        <div class="tools-panel">
            <i class="material-icons md-16">aspect_ratio</i>
            <span>{{vwidth}}</span>
            <clr-icon shape="times"></clr-icon>
            <span>{{vheight}}</span>
        </div>
        <div class="mx-container" #virtualWin>
            <router-outlet></router-outlet>
        </div>
        <div class="ng-host"><ng-template #templateHost></ng-template></div>
    </div>
    <div mx-win-property-pane [component]="component"></div>
</div>