.layout-context {
    position: absolute;
    display: flex;
    height: 100%;
    left: 0;
    right: 0;
}

.layout-context .library-context {
    width: 240px;
    background: #f6f5ec;
    overflow: auto;
    will-change: width;
    position: relative;
}

.layout-context .runtime-context {
    flex: 1;
    overflow: auto;
    will-change: width;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(250, 250, 250);
    color: #004c8c;
}

.layout-context .runtime-context .tools-panel {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5eb8ff;
    color: #fffffb;
}

.layout-context .runtime-context .tools-panel .material-icons {
    padding: 0 8px 0 0;
}

.layout-context .runtime-context .mx-container {
    position: relative;
    flex: 1;
    padding: 25px;
}