.layout-context {
    position: absolute;
    display: flex;
    height: 100%;
    left: 0;
    right: 0;
}

.layout-context .library-context {
    width: 240px;
    background: #f6f5ec;
    overflow: auto;
    will-change: width;
    position: relative;
}

.layout-context .runtime-context {
    flex: 1;
    overflow: auto;
    will-change: width;
    position: relative;
    display: flex;
    background: fffffb;
    color: #004c8c;
}

.layout-context .runtime-context .tools-panel {
    width: 48px;
    background: #0277bd;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.layout-context .runtime-context .mx-container {
    position: relative;
    flex: 1;
    margin: 25px;
}