<div mx-win-split-pane #context class="layout-context">
    <div mx-win-primary-side [minWidth]="240" [maxWidth]="320" class="library-context">
        <div class="library-items">
            <a [routerLink]="item.path" *ngFor="let item of resJson">
                <div mx-win-layout-box [img]="item.thumb"></div>
            </a>
        </div>
    </div>
    <div mx-win-secondary-side class="runtime-context">
        <div class="tools-panel">
            <i class="material-icons md-20">aspect_ratio</i>
            <span>{{width}}</span>
            <clr-icon shape="times"></clr-icon>
            <span>{{height}}</span>
        </div>
        <div class="mx-container" #virtualWin>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>