.guidance {
    background: #fffffb;
    width: 100%;
    height: 100%;
    color: #004c8c;
    line-height: 120%;
    min-height: 12em;
}

.flex {
    display: flex;
    padding: 12px 0;
}

.flex.center {
    align-items: center;
}

.tag {
    border-bottom: 2px solid #004c8c;
    padding-top: 0!important;
    padding-bottom: 4px;
}