.layout-box {
    padding: 30%;
}

.layout-box.cloned {
    position: absolute;
}

.layout-box:hover {
    transition: 0.5s all;
}

.img {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    will-change: auto;
}

.img:hover {
    background-size: 125%;
}