.layout-box {
    margin: 12px;
    border: 1px solid #d3d7d4;
    padding: 32.75%;
}

.layout-box.cloned {
    border: 1px dotted #d3d7d4;
    position: absolute;
}

.layout-box:hover {
    border-color: #999d9c;
    transition: 0.5s background, border;
}

.img {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.img:hover {
    background-size: 125%;
}