.layout-box {
    margin: 12px;
    border: 2px solid #58a5f0;
    padding: 25%;
}

.layout-box.cloned {
    border: 2px dotted #58a5f0;
    position: absolute;
}

.layout-box:hover {
    border-color: #63ccff;
}