.matrix-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: .92em;
}

.matrix-container .left-nav-container {
  width: auto;
  background: #004c8c;
  color: white;
}

.matrix-container .center-context-pane {
  flex: 1;
  height: 100%;
  position: relative;
}

.matrix-container .center-context-pane > div {
  height: 100%;
}