@import '../base.sass';

.mx-root-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: .8em;
  flex-direction: column;
  overflow: hidden;
}

.mx-root-container .alert-app-level {
  height: 24px;
  color: #fffffb;
  background: $barColor;
}

.mx-root-container .mx-section-container {
  display: flex;
  flex: 1;
  position: relative;
}

.mx-root-container .mx-section-container .mx-left-nav-container {
  width: auto;
  background: #130c0e;
  color: #fffffb;
}

.mx-root-container .mx-section-container .mx-center-content-container {
  flex: 1;
  height: 100%;
  position: relative;
}

.mx-root-container .mx-section-container .mx-center-content-container > div {
  height: 100%;
}

.save {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 36px;
  right: 20px;
  background: $barColor;
  color: #fffffb;
  cursor: pointer;
}