<div class="matrix-container">
    <div class="left-nav-container">
        <div mx-win-left-nav #target></div>
    </div>
    <div class="center-context-pane" mx-win-split-pane #context>
        <div mx-win-primary-side [minWidth]="240" [maxWidth]="320" class="dynamic-library">
            <a routerLink="/layout/common"><div mx-win-layout-box></div></a>
            <div mx-win-layout-box></div>
            <div mx-win-layout-box></div>
            <div mx-win-layout-box></div>
            <div mx-win-layout-box></div>
            <div mx-win-layout-box></div>
            <div mx-win-layout-box></div>
            <div mx-win-layout-box></div>
        </div>
        <div mx-win-secondary-side class="runtime-window">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>