.mx-root-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: .92em;
  flex-direction: column;
}

.mx-root-container .alert-app-level {
  height: 32px;
  color: #fffffb;
}

.mx-root-container .mx-section-container {
  display: flex;
  flex: 1;
  position: relative;
}

.mx-root-container .mx-section-container .mx-left-nav-container {
  width: auto;
  background: #130c0e;
  color: #fffffb;
}

.mx-root-container .mx-section-container .mx-center-content-container {
  flex: 1;
  height: 100%;
  position: relative;
}

.mx-root-container .mx-section-container .mx-center-content-container > div {
  height: 100%;
}