@import '../../base.sass';

._mx-layout .mx-layout-container {
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
}

._mx-layout .mx-layout-container > div {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

._mx-layout .mx-layout-container.stretch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

._mx-layout:hover .mx-layout-container {
    opacity: 0.84;
}

._mx-layout container-outlet {
    display: block;
    height: 100%;
}

._mx-layout container-outlet container {
    display: block;
    height: 100%;
}

._mx-layout container-outlet container .container {
    display: block;
    height: 100%;
}