.mx-layout .mx-layout-container {
    border: 1px solid transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s all;
    border: 1px dashed transparent;
}

.mx-layout:hover .mx-layout-container {
    opacity: 0.64;
    border: 1px dashed #5eb8ff;
}