.color-picker {
  position: relative;
}

.color-bar {
  height: 18px;
  border: 1px solid #ccc;
  background: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==");
  position: relative;
  cursor: pointer;
}

.color {
  height: 100%;
}