.guidance *:not(i) {
    line-height: 100%;
    color: #004c8c;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tag {
    border-bottom: 2px solid #004c8c;
    padding-top: 4px;
}