._mx-complex-picker-group {
    display: flex;
    flex-direction: column;
    padding: 2px 2px 0 2px;
    margin: 0 8px 0 8px;
}

._mx-complex-picker-group > .text {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
}

._mx-complex-picker-group > .text .angle {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 24px;
}

._mx-complex-picker-group > .text .angle.rotated {
    transform: rotate(180deg);
}

._mx-complex-picker-group > .group {
    flex: 1;
}

._mx-complex-picker-group > .group .text {
    text-indent: 0.8em;
}

._mx-complex-picker-group > .group [mx-win-number-picker] {
    margin-top: 4px;
}

._mx-complex-picker-group .color-picker-container {
    display: flex;
    align-items: center;
}

._mx-complex-picker-group .color-picker-container > div:nth-child(1) {
    width: 80px;
    text-indent: 0.8em;
}

._mx-complex-picker-group .color-picker-container > div:nth-child(2) {
    flex: 1;
}