.sample-layout {
    background: #fefefe;
}

.bg {
    background: #d9d6c3;
}

.context {
    padding: 25px;
}

.slider {
    width: 100%;
    padding: 12.5%;
}

.title {
    width: 20%;
    display: inline-block;
    height: 2em;
    margin-bottom: 10px;
}

.content {
    height: 100px;
    margin-bottom: 20px;
}