@import url('@clr/icons/clr-icons.min.css');
@import url('@clr/ui/clr-ui.min.css');

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('/assets/fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/assets/fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
  user-select: none;
}

matrix-root {
  display: block;
}

li {
  list-style: none;
}

button, input {
  outline: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype'),
    url(/assets/fonts/MaterialIcons-Regular.eot) format('embedded-opentype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  color: inherit;
}

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 27px; }
.material-icons.md-32 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-48 { font-size: 48px; }
