@import url('@clr/icons/clr-icons.min.css');
@import url('@clr/ui/clr-ui.min.css');

body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

label {
  user-select: none;
}

matrix-root {
  display: block;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype'),
    url(/assets/fonts/MaterialIcons-Regular.eot) format('embedded-opentype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  color: inherit;
}

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-28 { font-size: 27px; }
.material-icons.md-32 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-42 { font-size: 42px; }
.material-icons.md-48 { font-size: 48px; }

._mx-split-pane.horizontal.move * {
  cursor: ns-resize;
}

._mx-split-pane.vertial.move * {
  cursor: ew-resize;
}

._mx-monaco-sash {
  position: absolute;
  cursor: ew-resize;
  top: 0;
  bottom: 0;
  width: 5px;
  margin-left: -2.5px;
  user-select: none;
  touch-action: none;
}

::-webkit-scrollbar {
  width: 3px;
  background: #d9d6c3;
}

::-webkit-scrollbar-thumb {
  background: #4f5555;
}