.property-pane-win {
    width: 260px;
    color: #130c0e;
    font-size: 110%;
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head {
    height: 28px;
    background: #008aba;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: #fffffb;
}

.attr-container {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.attr-container:hover {
    background: #f6f5ec;
}

.attr-container.selected {
    background: #4e72b8;
}

.attr-container > .attr-name {
    width: 64px;
}

.attr-container > .attr-value {
    flex: 1;
}

.style-pane {
    flex: 1;
    padding: 5px;
}